@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Mochi of the day!</h1>
    <div class="center">
        <img src="@Model.ImgUrl" style="width:100%; height:100%; object-fit:contain; align-content:center" />
    </div>
    <h2 style="position:relative;">@Model.WordName</h2>
    <p style="margin-bottom:0;">@Model.WordDefinition</p>
    <i style="margin-top:0;">@Model.PartOfTheSpeech</i>
</div>
