@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Mochi of the day!</h1>
    <img src="@Model.ImgUrl" width="300" height="300"></img>
    <h2>@Model.WordName</h2>
    <p>@Model.WordDefinition</p>
    <i></i>
</div>
